body {
  margin: 0;
  font-family: Arial;
  background: #0b0f1a;
  color: white;
}

.container {
  padding: 20px;
}

.card {
  background: #1a2238;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background: #4f8eff;
  color: white;
}
